name = "mbedtee-helloworld-ta";
uuid = "6d809454-ccb2-4ed9-b7cf-92447354b367";
path = "/user/mbedtee-helloworld-ta.o";
version = "1.0.0";
stack_size = "8192";
heap_size = "1048576";
single_instance = "1";
multi_session = "1";
dev_access = "/dev/uart0";
ipc_access = "auth_ta";
description = "Hello World";
